.section-1{

    background-color: rgb(79, 45, 230);
    display: flex;
    flex-direction: row;
    font-family: Arial;
    margin-bottom: 300px;
   
   

}
.flex-container-1{
    display: flex;
    flex-direction: column;
    
}



.input-1 {
    border-radius: 20px;
    border:none;
    padding: 10px 20px;
    font-weight: bold;
    display: inline;

    
}

.input-2{
    border-radius: 25px;
    border:none;
    padding: 20px 10px;
    margin-left: 10px ;
    font-weight: bold;
    background-color: rgb(79, 45, 230);
    font-family: Arial;
    width: 13%;
    
}

body {
    background-color: rgb(79, 45, 230);
    color: white;
}

.science-1{
    font-family: Arial;
    font-weight: bold;
    padding: 50px 550px;
    margin: 100px;
   
    
    
    
}